@model User

<form asp-action="Create" method="post">
    <label>First Name</label>
    <input asp-for="FirstName" />

    <label>Last Name</label>
    <input asp-for="LastName" />

    <button type="submit">Submit</button>
</form>
