@model MyMvcApp.Models.User
<header>
    <H1> Simple MVC application </H1>
</header>

<H2> Please enter details: </H2>
<form asp-action="Create" method="post">
    <div>
        <input asp-for="FirstName" class="form-control" placeholder="First name" />
    </div>

    <div>
        <input asp-for="LastName" class="form-control" placeholder="Last name"/>
    </div>

    <button type="submit">Submit</button>
</form>

